@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


* {
    font-size: 15px;
}

body {
    margin: 100px;
    width: 1440px;
    height: 500px;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 1300px;
    height: 700px;
    /* margin: 70px 50px; */
    margin: auto;
}

.flex-1 {
    background-repeat: no-repeat;
    background-color: hsl(31, 77%, 52%);
    flex: 50%;
    /* height: ; */


}

.flex-2 {
    background-repeat: no-repeat;
    background-color: hsl(184, 100%, 22%);
    flex: 50%;
}

.flex-3 {
    background-repeat: no-repeat;
    background-color: hsl(179, 100%, 13%);
    flex: 50%;
}

h2 {
    color: hsl(0, 0%, 95%);
    font-weight: 700;
    font-size: 3em;
    padding: 100px 2px 2px 2px;
    /* margin: 20px; */

    font-family: 'Big Shoulders Display', cursive;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 24px;
}

.sedans,
.suvs,
.luxury {
    margin: 70px 50px;
    background-repeat: no-repeat;
}

.sedans {
    background-image: url(/images/icon-sedans.svg);

}

.suvs {
    background-image: url(/images/icon-suvs.svg);

}


.luxury {
    background-image: url(/images/icon-luxury.svg);

}

button {
    background-color: hsla(0, 0%, 100%, 0.75);
    border: 2px;
    border-radius: 50px;
    margin: 70px 10px 10px 10px;
    width: 45%;
    height: 50px;
    text-align: center;
    /* color: inherit; */
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%, 0.75);
    color: inherit;

    /* background-color: aqua; */
}

button:hover {
    border: 2px solid hsl(0, 0%, 100%, 0.75);
    background-color: inherit;
    cursor: pointer;
    color: hsl(0, 0%, 100%, 0.75);
}