@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(./images/bg-intro-desktop.png);
}


.section {
    width: 100%;
    margin: auto;
    background-color: hsla(0, 98%, 57%, 0.596);
    clear: both;
    padding: 0px;
    /* margin: 0px; */
}


.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child {
    margin-left: 0;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 4em;
    color: #fff;
}

.reg-header-p {
    font-size: 1.5em;
    color: #fff;
}


.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}


.span_2_of_2 {
    width: 40%;
    /* border: 5px solid green; */
}

.span_1_of_2 {
    /* border: 5px solid green; */
    margin: auto;
    width: 50%;
    padding-left: 50px;
    /* text-align: center; */
}

.reg-form {
    background-color: hsl(0, 100%, 100%);
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    width: 80%;
}

input {
    margin: 10px;
    height: 45px;
    width: 90%;
}


.reg-form-header {
    width: 77%;
    margin: auto;
    height: 30px;
    margin-bottom: 20px;
    /* margin: 20px 1px; */
    background-color: hsl(248, 32%, 49%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 2px;
    font-size: 10px;
    padding: 7px;
    font-weight: 700;
}

.reg-light {
    font-weight: 400;
}

.btn {
    background-color: hsl(154, 59%, 51%);
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 2px;
    color: #fff;
    font-weight: 300;

}

.reg-form-p {
    color: hsl(246, 25%, 77%);
    text-align: center;
    font-size: 1em;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: hsl(0, 100%, 74%);
}

.btn:hover {
    background-color: hsl(120, 60%, 77%);
    cursor: pointer;
}


@media only screen and (max-width: 767px) {
    body {
        background-image: url(./images/bg-intro-mobile.png);

    }

    .section {
        margin: auto;
    }

    .col {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {

    .span_2_of_2,
    .span_1_of_2 {
        width: 100%;
    }

    .span_1_of_2 {
        padding-left: 0px;
        text-align: center;
    }

    .reg-form {
        margin: auto;
        width: 90%;
    }


    .reg-form-header {
        font-size: 1em;
        width: 87%;
        height: 40px;
        margin: 20px 25px;

    }


}